.quizCard {
  height: auto;
  width: 25rem;
  padding: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  gap: 1rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.quizCard:hover {
  border: 1px solid #bee3f8;
  box-shadow: none;
}

.quizCard h4 {
  color: rgb(0, 0, 0, 0.6);
  letter-spacing: 0.1rem;
}

.quizCardImg img {
  width: 100%;
  height: 100%;
}
